@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body.dark-mode {
  background-color: #242424;
}
.dark-mode p {
  color: white;
}

.dark-mode a {
  color: white;
  box-shadow: black;
}

.dark-mode span {
  color: white;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  min-height: fit-content;
}

main {
  position: relative;
  height: fit-content;
  padding: 2rem 3rem 2rem 3rem;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

/**/
/* span.dark-mode{ */
/* 	color: white; */
/* } */
