#hero{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8rem;
}
#hero-header{
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#hero-p{
	font-weight: 200;
	font-size: 24px;
	text-align: center;
}
#hero-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 2rem;
	width: 50%;
}

.hero-accent{
	color: #512DA8;
}


#hero-text-sec{
	font-size: 42px;
	font-weight:600;
}

#hero-text-main{
	font-size: 52px;
	font-weight: 800;
}

.class-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 10rem;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 1px 2px 2px;
	margin: 0rem .5rem 0rem .5rem;
}

.class-img{
	width:100%;
	height: 100%;
}

#class-carousel{
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 50%;
	width: fit-content;
	justify-content: center;
}

.class-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: .5rem 0rem .5rem 0rem;
}

main{
	padding: 0rem 3rem 0rem 3rem;
}
